{% load i18n %}{% load l10n %}
<p>
    {% blocktrans with payment_info=payment_info|default_if_none:"" %}
    Tu pago a través de Recurrente ha sido recibido exitosamente.
    {% endblocktrans %}
</p>

<h4>{% trans "Detalles del pago:" %}</h4>
<table class="table" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
    {% if payment_info.receipt_number %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Número de recibo:" %}</th>
        <td style="padding: 5px;">{{ payment_info.receipt_number }}</td>
    </tr>
    {% endif %}
    {% if payment_info.authorization_code %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Código de autorización:" %}</th>
        <td style="padding: 5px;">{{ payment_info.authorization_code }}</td>
    </tr>
    {% endif %}
    {% if payment_info.transaction_date %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Fecha:" %}</th>
        <td style="padding: 5px;">{{ payment_info.transaction_date }}</td>
    </tr>
    {% endif %}
    {% if payment_info.customer_name %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Nombre:" %}</th>
        <td style="padding: 5px;">{{ payment_info.customer_name }}</td>
    </tr>
    {% endif %}
    {% if payment_info.customer_email %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Correo electrónico:" %}</th>
        <td style="padding: 5px;">{{ payment_info.customer_email }}</td>
    </tr>
    {% endif %}
    {% if payment_info.payment_method %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Método de pago:" %}</th>
        <td style="padding: 5px;">{{ payment_info.payment_method }}</td>
    </tr>
    {% endif %}
    {% if payment_info.card_last4 %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Tarjeta:" %}</th>
        <td style="padding: 5px;">**** **** **** {{ payment_info.card_last4 }}</td>
    </tr>
    {% endif %}
    {% if payment_info.amount %}
    <tr>
        <th style="padding: 5px; text-align: left; width: 40%;">{% trans "Monto:" %}</th>
        <td style="padding: 5px;">{{ payment_info.amount|floatformat:2 }} {{ currency }}</td>
    </tr>
    {% endif %}
</table>

<p>{% trans "Gracias por tu compra." %}</p>
